#canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.textElementBox {
  position: fixed;
  border: none;
  background: transparent;
  resize: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  font-family: "Caveat";
}
